body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: sticky;
    background-color: black;
}

#headline h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
    padding-right: 100px;
    margin: 0 auto;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    animation: typing 5s steps(40,end) 2s 1, blinking-cursor .5s step-end 30;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: orange }
    
  }


.sidepanel {
    height: 250px; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right:0;
    background-color:black; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidepanel a:hover {
    color: #d0c9c9;
  }
  
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color:black;
    color: white;
    padding: 10px 15px;
    border: none;
    
  }
  
  .openbtn:hover {
    color:rgb(255, 189, 47);
  }

 
.diamond-grid {
    width: 70%;
    margin: 10px auto 0;
}

.item {
    width: 320px;
    height: 320px;
    background-color: #fff; 
    transition: 0.5s;
    opacity: 0.5;
    transition: 0.5s;
    
}

.item:hover{
    opacity: 1;
}

.item img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(1.5);
    width: 100%;
}
@media (max-width:767px){
    .diamond-grid {
        width: 100%;
        margin: 0 auto;
    }
}

.content {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    
    width: 300px;
    height: 300px;
    transition: all 400ms ease-out;
}

.item .content:hover {
    opacity: 1;
}
.item .content .text{
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

.item .content:hover .text {
    opacity: 1;
    transform: translateY(120px);
}

#kartlink {
    text-decoration: none;
    color: white;
    cursor: pointer;
}